{{#section 'head'}}
     <link rel="stylesheet" href="/styles/seekView.css">
 
 {{/section}}

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/dashboard">GeekSeek</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a id="currentuser" href="/currentuser">USER ID: </a></li>

        <li><a id="logout-link" href="/logout">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li ><a href="/newquery">New Query </a></li>
        <li><a href="/savedqueries">Saved Queries </a></li>
        <li class="active"><a href="/editprofile">Edit Profile<span class="sr-only">(current)</span></a></li>
        <li class="activeG"><a href="/myskills">My Skills</a></li>

      </ul>
    </div>


    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <form method="POST" action="/editprofile" class="form-editprofile">
		<h4><strong>HTML</strong></h4>
	 	<select class="chosen" name="q1">
	 		<option value=""></option>
            <option value="1">1 (Weak)</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5 (Strong)</option>
      	</select>

		<h4><strong>CSS</strong></h4>
		<select class="chosen" name="q2">
	 		<option value=""></option>
            <option value="1">1 (Weak)</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5 (Strong)</option>
      	</select>


		<h4><strong>Javascript</h4>
	 	<select class="chosen" name="q3">
	 		<option value=""></option>
            <option value="1">1 (Weak)</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5 (Strong)</option>
      	</select>


		<h4><strong>MySQL</h4>
	 	<select class="chosen" name="q4">
	 		<option value=""></option>
            <option value="1">1 (Weak)</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5 (Strong)</option>
      	</select>


		<h4><strong>Node</h4>
	 	<select class="chosen" name="q5">
	 		<option value=""></option>
            <option value="1">1 (Weak)</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5 (Strong)</option>
      	</select>

            <!-- Submit Button -->
            <button class="btn btn-lg btn-primary btn-block" type="submit">Submit`</button>
  </form>
</div>
</div>
</div>
