<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/dashboard">GeekSeek</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
              <li><a id="signup-link" href="/signup">Sign Up</a></li>

              <li><a id="login-link" href="/login">Login</a></li>

      </ul>
    </div>
  </div>
</nav>


    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h2 class="sub-header">GEEKSEEK</h2>
      <div class="table-responsive">
        <h2 class="sub-header">Welcome!</h2>
      <div class="table-responsive">
        <p>This application is a candidate screening service connecting Seekers(recruiters) with Geeks(candidates, or students) using a skill ranking system allowing the Seeker to review the best Geeks who meet their technical skill requirements, without knowing their name, or other personal contact information. Candidates are selected solely based on their skills.</p>

        <h3>HOW IT WORKS</H3>
        <p>Click on the menu links in the side nav bar to get around</p>
      </div>
    </div>
  </div>
