{{#section 'head'}}
     <link rel="stylesheet" href="/styles/seekView.css">
 
 {{/section}}


<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/dashboard">GeekSeek</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a id="logout-link" href="/logout">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li class="active"><a href="/geeks">New Query </a></li>
        <li><a href="/geeks">Saves Queries<span class="sr-only">(current)</span> </a></li>
        <li><a href="/editprofile">Edit Profile</a></li>
      </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h2 class="sub-header">Seekers</h2>
      <div class="table-responsive">

      <div class="row query-searches">

        <!-- div for populating all skills -->
        
        <div class ="col-sm-6 col-md-6"></div>


        <!-- div for populating chosen buttons-->
        <div class ="col-sm-6 col-md-6"> 
          <a type ="submit" class="btn btn-danger"><span class="glyphicon glyphicon-refresh" aria-hidden="true">Reset</span></a>
          <a type ="submit" class="btn btn-warning"><span class="glyphicon glyphicon-cloud-upload" aria-hidden="true">Save</span></a>
          <a type ="submit" class="btn btn-success"><span class="glyphicon glyphicon-play" aria-hidden="true">Run</span></a>
        </div>

   
      <div class="row results">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Company Name</th>
            </tr>
          </thead>
        
        {{#each seekers}}
          <tr>
             <td>{{companyName}}</td>
          </tr>
        {{/each}}
        </table>
        </div>
      </div>
    </div>
  </div>
</div>