{{#section 'head'}}
     <link rel="stylesheet" href="/styles/seekView.css">
 
 {{/section}}

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/dashboard">GeekSeek</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
              <li><a id="currentuser" href="/currentuser">USER ID: {{id}}</a></li>

        <li><a id="logout-link" href="/logout">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>


<div class="container">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">

      <ul class="nav nav-sidebar seek">
<h3>SEEK AND YE SHALL FIND</h3>
        <li ><a href="/newquery/{{id}}" >New Query</a></li>
        <li><a href="/savedqueries/{{id}}">Saved Queries </a></li>
</ul>
<ul class ="nav nav-sidebar geek">
        <h3>GEEKS R US</h3>
        <li><a href="/myskills">My Skills</a></li>
        <a href="/currentuser"class="active"><h3>Edit Profile</h3></a></li>

    </ul> 
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <div class="table-responsive">
        <h2 class="sub-header">Hey there!</h2>
      <div class="table-responsive">

        <p>This application is a candidate screening service connecting Seekers(recruiters) with Geeks(candidates, or students) using a skill ranking system allowing the Seeker to review the best Geeks who meet their technical skill requirements, without knowing their name, or other personal contact information. Candidates are selected solely based on their skills.</p>

        <h3>HOW IT WORKS</H3>
        <p>Click on the menu links in the side nav bar to get around...as simple as that!</p>
      </div>
    </div>
  </div>
</div>
