/* Move down content because we have a fixed navbar that is 50px tall */
/* Move down content because we have a fixed navbar that is 50px tall */
body {
font-family: 'Questrial', sans-serif;
      padding-top: 50px;
/*      background-image: url("../background.gif");
*/      background-position: center center;
      background-repeat: no-repeat;
      background-attachment:fixed;
      background-size: cover;
      background-image: url('../coding-curriculum-criticism.jpg');
      text-shadow: 2px 1px black;

}
a {color:white;}
h1,h2,h3 {color:white;}
p {color:white;}
.row {
    padding-top: 50px;
}